In [1]:
import pandas as pd

In [7]:
pd.read_csv('ICU_capacity.tsv', sep='\t')

,country,AcuteCare,AcuteCarPer100k,IMCU,ICU,CriticalCare,CriticalCarePer100k,percentOfTotal,GDP
0,Andorra,188,224,,,6,7.1,3.2,482.2
1,Austria,48446,635,569,1264,1833,21.8,3.4,205.9
2,Belgium,50156,456,,,1755,15.9,3.5,266.5
3,Bulgaria,57460,766,,,913,12.2,1.6,52.2
4,Croatia,15629,353,,,650,14.7,4.2,93.6
5,Cyprus,2813,350,9,83,92,11.4,3.3,251.9
6,Czechia,91068,865,,,1227,11.6,1.3,156.5
7,Denmark,17124,308,,,372,6.7,2.2,833.0
8,Estonia,5096,380,72,124,196,14.6,3.8,98.2
9,Finland,12442,231,28,301,329,6.1,2.6,727.0
10,France,232821,358,3471,4069,7540,11.6,3.2,339.9
11,Germany,469791,575,,,23890,29.2,5.1,137.6
12,Greece,44411,392,30,650,680,6.0,1.5,449.1
13,Hungary,41574,416,,,1374,13.8,3.3,94.9
14,Iceland,1169,367,,,29,9.1,2.5,434.3
15,Ireland,12202,272,88,201,289,6.5,2.4,716.2
16,Italy,201932,333,,,7550,12.5,3.7,272.2
17,Latvia,11833,531,,,217,9.7,1.8,110.7
18,Lithuania,17061,526,,,502,15.5,2.9,72.5
19,Luxembourg,2511,204,27,100,127,24.8,5.1,432.7
20,Netherlands,56085,337,,,1065,6.4,1.9,733.0
21,Norway,13639,277,,,395,8.0,2.9,1045.5
22,Poland,156662,410,,,2635,6.9,1.7,178.1
23,Portugal,31722,298,,451,451,4.2,1.4,508.1
24,Romania,108611,507,2574,2000,4574,21.4,4.2,35.3
25,Slovakia,32560,599,,,500,9.2,1.5,174.9
26,Slovenia,7656,373,,,131,6.4,1.7,364.4
27,Spain,124194,269,,,4479,9.7,3.6,314.8
28,Sweden,26131,278,,,550,5.8,2.1,834.0
29,Switzerland,28096,357,,,1400,11.0,3.1,609.6
30,United Kingdom of Great Britain and Northern I...,147809,237,1737,2377,4114,6.6,2.8,547.0

In [2]:
df_cases = pd.read_csv('jrc-covid-19-hxl.csv')

In [3]:
df_cases

,Date,iso3,CountryName,Region,lat,lon,CumulativePositive,CumulativeDeceased,CumulativeRecovered,CurrentlyPositive,Hospitalized,IntensiveCare,EUcountry,EUCPMcountry
0,#date,#country+code+iso3,#country+name,#adm1+name,#geo+lat,#geo+lon,#affected+positive+total,#affected+dead+total,#affected+recovered+total,#affected+positive,#affected+hospitalized,#affected+intensive_care,#indicator+eu,#indicator+eucpm
1,2020-01-24,FRA,France,Île-de-France,48.709229,2.503473,2,0,0,2,2,0,TRUE,TRUE
2,2020-01-24,FRA,France,Nouvelle-Aquitaine,45.479897,0.410462,1,0,0,1,1,0,TRUE,TRUE
3,2020-01-25,FRA,France,Île-de-France,48.709229,2.503473,2,0,0,2,2,0,TRUE,TRUE
4,2020-01-25,FRA,France,Nouvelle-Aquitaine,45.479897,0.410462,1,0,0,1,1,0,TRUE,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24610,2020-04-30,UKR,Ukraine,Transcarpathian,48.405051,23.281219,419,0,0,419,0,0,FALSE,FALSE
24611,2020-04-30,UKR,Ukraine,Vinnytsia,48.926546,28.692087,417,0,0,417,0,0,FALSE,FALSE
24612,2020-04-30,UKR,Ukraine,Volyn,51.202858,24.883489,280,0,0,280,0,0,FALSE,FALSE
24613,2020-04-30,UKR,Ukraine,Zaporizhzhia,47.251409,35.699543,243,0,0,243,0,0,FALSE,FALSE
24614,2020-04-30,UKR,Ukraine,Zhytomyr,50.642612,28.484557,374,0,0,374,0,0,FALSE,FALSE

In [6]:
# Think of a proper method for data directory management
# Filter on Western European countries
# Make fit with methods in browser